@model Proyecto_Final.ViewModels.VacationAndEmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Vacation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VacationObj.Id" />
            <div class="form-group">
                <label asp-for="VacationObj.EmployeeId" class="control-label"></label>
                <select asp-for="VacationObj.EmployeeId" class="form-control" 
                    asp-items="@(new SelectList(Model.EmployeeList, "Id", "Id"))">
                </select>
                <span asp-validation-for="VacationObj.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationObj.StartDate" class="control-label"></label>
                <input asp-for="VacationObj.StartDate" class="form-control" />
                <span asp-validation-for="VacationObj.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationObj.EndDate" class="control-label"></label>
                <input asp-for="VacationObj.EndDate" class="form-control" />
                <span asp-validation-for="VacationObj.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationObj.Comment" class="control-label"></label>
                <input asp-for="VacationObj.Comment" class="form-control" />
                <span asp-validation-for="VacationObj.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
