@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Register - Employee</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Add Department</a>
    <a asp-controller="Position" asp-action="Index" class="btn btn-primary">Add Position</a>
</div>
