@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form>
        <h2>Maintenance Module</h2>
        <div class="form-group"
             style="border:1px solid gray;margin:10px;padding:5px; border-radius:5px;">
            <a asp-controller="Employee" asp-action="Index" class="btn btn-lg btn-primary">Employee Operations</a>
            <a asp-controller="Department" asp-action="Index" class="btn btn-lg btn-primary">Department Operations</a>
            <a asp-controller="Position" asp-action="Index" class="btn btn-lg btn-primary">Position Operations</a>
        </div>

        <h2>Proccess Module</h2>
        <div class="form-group"
             style="border:1px solid gray;margin:10px;padding:5px; border-radius:5px;">
            <a asp-controller="Paysheet" asp-action="Index" class="btn btn-lg btn-primary">Paysheet Operations</a>
            <a asp-controller="Resignation" asp-action="Index" class="btn btn-lg btn-primary">Resignation Operations</a>
            <a asp-controller="Vacation" asp-action="Index" class="btn btn-lg btn-primary">Vacation Operations</a>
            <a asp-controller="Permission" asp-action="Index" class="btn btn-lg btn-primary">Permission Operations</a>
            <a asp-controller="License" asp-action="Index" class="btn btn-lg btn-primary">License Operations</a>
        </div>



    </form>
    
</div>
